<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Welcome use Cae</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <h1> User List </h1>
  <ul>
    {% for item in users %}
    <li>{{ item.username }}</li>
    {% else %}
    <li>This would display if the 'item' collection were empty</li>
    {% endfor %}
  </ul>
  <p>CSRF:
    {{ $csrf }}
  </p>
  <p>
    {{ $method }} <br />
    {{ $querystring }} <br />
    {{ $url }} <br />
    {{ $cookies }} <br />

  </p>

</body>

</html>
